@model List<DisciplinaModel>

@{
    ViewBag.Title = "DisciplinaModel";
}

<h2>
    Disciplinas
    <span class="pull-right"><a href="@Url.Action("novaDisciplina", "Disciplina")" class="btn btn-primary">Novo Disciplina</a></span>    
</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <td>Cod. Disciplina</td>
            <td>Nome do Disciplina</td>
            <td>Alunos - RA</td>
            <td>Semestre</td>
            <td>Curso</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var disc in @Model)
        {
            <tr>
                <td>@disc.IdDisciplina</td>
                <td>@disc.Nome</td>
                <td>
                    @foreach (var aluno in disc.Alunos)
                    {
                        @aluno.Nome <b>-</b>
                        @aluno.RA <br />
                    }
                </td>
                <td>@disc.Semestre</td>
                <td>@disc.Curso</td>
            </tr>
        }
    </tbody>
</table>
